<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120637095431-5t6f6e05vrf5tgia92ncjgj7k9u0lmt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120637095431-5t6f6e05vrf5tgia92ncjgj7k9u0lmt6</string>
	<key>API_KEY</key>
	<string>AIzaSyCkHwbIiQxc1FZURPOG9n8UVAmnOKYrj7w</string>
	<key>GCM_SENDER_ID</key>
	<string>120637095431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.martiniapp.Martini</string>
	<key>PROJECT_ID</key>
	<string>matini-4560d</string>
	<key>STORAGE_BUCKET</key>
	<string>matini-4560d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120637095431:ios:45d86b6d42e238d7b5b4a2</string>
</dict>
</plist>